/* About Page */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
#page-header.about-header {
    background-image: url(../images/about/banner.png);
} 
#about-head {
    display: flex;
    align-items: center;
} 
#about-head img {
    width: 50%;
    height: auto;
} 
#about-head div {
    padding-left: 40px;
} 